/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/01/2017, 08:23:01 PM
    Author     : le_as
*/

/*Para menu lateral*/
a
{
    
    text-decoration: none;
}

ul
{
    list-style:none;
}
    
.btn-menu
{
    display: block;
    padding: 10px;
    background-color: #6c1a42;
    
}

.barra {
    margin-left: -35px;
    margin-top: -20px;
    padding:0;
    background: #6c1a42;
}

.barra ul li a
{
    margin-left: 0px;
    width: 100%;
    display: inline-block;
    padding: 10px;
    padding-left: 25px;
    background-color: #6c1a42;
    color: #fff;
}

.barra ul li li
{
    margin-left: -30px;
    width: 110%;
    display: block;
    
    background-color: #6c1a42;
}

.barra ul li a:hover
{
    margin-left: -18px;
    width: 106%;
    display: inline-block;
    padding: 15px 30px;
    color:#6c1a42;
    background-color: #fff;
    text-decoration: none;
}

.activado{
    background: #fff;
    color: #6c1a42;
}

.barra ul ul{
    display:none;
}

.barra .icono 
{
    font-size: 18px;
}

.barra .icono.izquierda
{
    float: left;
    margin-right: 15px;
}

.barra .icono.derecha
{
    float: right;
    margin-left: 30px;
}

.barra .bl ul li a
{
    background-color: #5a5a5a;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.barra .bl ul li a:hover
{
    background-color: #fff;
    color: #6c1a42;
    font-weight: bold;
    text-decoration: none;
}


/*Para menu lateral*/

html, body {
        height: 100%;
        margin: 0px;
     overflow-x: hidden;
    }

.boding
{
    color: #6c1a42;
    font-size: 15px;
    font-family: Helvetica,Arial,sans-serif;    
        /*Margenes*/
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;  
}


.letritas
{
    font-size: 18px;
}
.subtitulos
{
    font-family: Helvetica,Arial,serif;
    font-size: 13px;
}



.h3
{
    font-family: Helvetica,Arial,serif;
    font-size: 25px;    
}

.headering
{
    /*Fondo*/
    background-color: #6c1a42;
        
    /*Bordes*/
    border-top: solid;
    border-top-color: #6c1a42;
    border-bottom:solid;
    border-bottom-color: gray;
    top:0;
    height: auto;
    width: 100%; 
    
/*    align-content: center;*/
}

.overflow
{
    overflow-y: hidden;
    
}

.rela
{
    position: relative;
}

.abso
{
    position: absolute;
}

.contenedor-general 
{
    
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
   
}
.container-fluid {
    padding-right: 0px!important;
    padding-left: 0px!important; 
    margin-right: auto;
    margin-left: auto;
} 
.footer
{
    /*Fondo*/
    background-color: #6c1a42;
    color: #fff;
    
    /*Bordes*/
    border-top: solid;
    border-top-color: #6c1a42;
    border-bottom:solid;
    border-top-color: gray;    
    border-bottom-color:#6c1a42;
    bottom:0;
    text-align: center;
    
    width: 100%;    
}


.titulos
{
    color: #6c1a42;
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 40px;
}

.cover-container 
{
  margin-right: auto;
  padding: 200px;
  margin-left: auto;  
}

.cover-container2 
{
  margin-right: auto;
  padding: 10px;
  margin-left: auto;
  
}

.cover-container3 
{
  margin-right: auto;
  padding: 150px;
  margin-left: auto;  
}

/* Padding for spacing */
.cover-inner 
{
  padding: 70px;
/*    padding: 90px;    */
}

.site-wrapper-inner 
{
  display: table-cell;
  vertical-align: top;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  
  color: #fff;
  background-color: #6c1a42;
  border: 1px solid #fff; 
  align-items: center;
}

.btn:hover
{
    background-color: #fff;
    color: #6c1a42;
    border: 1px solid #6c1a42; 
    
}

.btn:focus
{
background-color: #fff;
    color: #6c1a42;
    border: 1px solid #6c1a42; 
}

.formulario-oculto{
    display: none;
}


.errorMessage{
    background-color:#FFCCCC;
    border:1px solid #CC0000;
    width:400px;
    margin-bottom:8px;
    font-size: 15px;
    
}

.margen
{
  margin-top: -80px;   
}